/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$font-headings:  "Atkinson Hyperlegible Next", sans-serif !default;
$font-code:      "Source Code Pro", monospace !default;

$presentation-heading-font: $font-headings;
$font-family-monospace:     $font-code;

$body-bg:                   $brand-off-white;
$body-color:                $brand-black;
$presentation-heading-color: $brand-black;
$code-block-bg:               #ffffff;

$presentation-font-size-root: 40px;
$presentation-h1-font-size:   100px;
$presentation-h2-font-size:   64px;
$presentation-h3-font-size:   46px;
$presentation-line-height:    1.35;
$code-block-font-size:        0.75em;

/*-- scss:rules --*/

:root {
  --hl-1: #f7e896;
  --hl-2: #FFD0CF;
  --hl-3: #EFB3FF;
}

// `inline code` normally gets the syntax highlighting theme's color, but when
// inline code is in a heading/slide title, I actually want it to be the same as
// all other slide titles
.reveal h1 code,
.reveal h2 code,
.reveal h3 code,
.reveal h4 code,
.reveal h5 code,
.reveal h6 code {
  color: inherit;
  font-weight: 700;
}


// Classes to make headings on slides match the overall section color. Use like:
// ## Some title {.clr-3}
@for $i from 1 through 7 {
  .reveal section.clr-#{$i} h1,
  .reveal section.clr-#{$i} h2,
  .reveal section.clr-#{$i} h3,
  .reveal section.clr-#{$i} h4,
  .reveal section.clr-#{$i} h5,
  .reveal section.clr-#{$i} h6 {
    color: var(--brand-clr-#{$i});
  }
}

// Some helpers for size and shadows
.huge    { font-size: 2.2em; }
.large   { font-size: 1.7em; }
.medium  { font-size: 1.4em; }
.small   { font-size: 0.8em; }
.smaller { font-size: 0.65em; }
.tiny    { font-size: 0.5em; }

.shadow {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.reveal code {
  font-weight: 500;
}

// Quarto cells sometimes clip drop shadows; this stops that
.cell-output-display:has(.shadow) {
  overflow: visible;
}

// Fake syntax highlighting with flourish
.bg-hl-1 {
  background-color: var(--hl-1);
}

.bg-hl-2 {
  background-color: var(--hl-2);
}

.bg-hl-3 {
  background-color: var(--hl-3);
}

// Table stuff
.tinytable {
  --tt-font-weight-header: 700 !important;
  background-color: #ffffff !important;
}

.tinytable code {
  font-family: $font-code !important;
}

// Make it so images have zero padding when needed (like in tables)
.reveal .no-img-margin img {
  margin: 0;
}

// Quarto/revealjs doesn't include any margin below code blocks
.reveal div.sourceCode {
  margin-bottom: 0.8em !important;
}


// Title slide stuff
.reveal .slides section#title-slide {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  padding: 1em 1em;
  color: #ffffff;

  img.title-slide-logo {
    position: absolute;
    right: 4.5%;
    bottom: 3.5%;
    height: 47%;
  }

  h1.title {
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.15;
    text-align: left;
    font-size: 2.2em;
    color: #ffffff;
  }

  p.subtitle {
    margin-top: auto;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
  }

  p.author,
  p.institute {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.6em;
    font-weight: 700;
  }

  p.date {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: 0.6em;
  }
}
